---
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
import BaseHead from "../components/BaseHead.astro"
import { SITE_TITLE } from "../consts"
import { SITE_DESCRIPTION } from "../consts";
import profileIcon from '../assets/profile-icon.png'
import { Image } from "astro:assets";
---
<!doctype html>
<html lang="ja">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<div style="padding: 10rem;">
		<div >
			<Image src={profileIcon} width={200} height={200}  alt="icon">
		</div>
		<p>kmy(かみー)</p>
		<h3 style="padding: 1rem;">本サイトについて</h3>
		<p>本サイトはしがない数学科のブログです。</p>
		<p>高校時代にノートパソコンを買ってもらったことがきっかけでプログラミングに興味を持ちました。小さな挫折と成功を繰り返してちょっとずつ進化していけたらいいなと思っています</p>
		<p>将来エンジニアになりたいと思っていますが、具体的な分野は考え中です</p>
		</div>
		<Footer />
	</body>
</html>


