---
import { getCollection } from "astro:content";

const allPosts = await getCollection("blog");
const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())];
const currentTag = Astro.params.tag;
---

<div class="tags-container">
    {
        tags.map((tag) =>
            currentTag === tag ? (
                <a href={`/blog/tag/${tag}`} class="filtered-tag">
                    #{tag}
                </a>
            ) : (
                <a href={`/blog/tag/${tag}`} class="tag">
                    #{tag}
                </a>
            ),
        )
    }
</div>

<style>
    .tags-container {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        margin-bottom: 2rem;
    }
    .tag {
        color: var(--accent);
        text-decoration: none;
        background-color: #fff;
        border: 1px solid var(--accent);
        padding: 0.5em 1em;
        border-radius: 9999px;
        font-size: 0.9em;
        transition: all 0.2s ease;
    }
    .tag:hover {
        box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
    }
    .filtered-tag {
        color: var(--accent);
        text-decoration: none;
        background-color: var(--accent);
        border: 1px solid var(--accent);
        padding: 0.5em 1em;
        border-radius: 9999px;
        font-size: 0.9em;
        transition: all 0.2s ease;
        color: #fff;
    }
</style>
